In [5]:
import oracledb
import os

# os.system("netsh advfirewall firewall add rule name=\"Oracle XE\" dir=in action=allow protocol=TCP localport=1521")

In [6]:
conn = oracledb.connect(
    user="c##student",
    password="student123",
    dsn="192.168.1.28/XE"
)

print("Connected:", conn.version)
conn.close()

Connected: 21.3.0.0.0

In [ ]:
import pandas as pd

conn = oracledb.connect(
    user="c##student",
    password="student123",
    dsn="192.168.1.28/XE"
)


df = pd.read_sql("SELECT * FROM students", conn)

conn.close()

      STUDENT_ID          FULL_NAME  GENDER        DOB          CITY  \
0            101      Suresh Sharma    Male 2004-01-10  Basavakalyan
1            102  Prashant Kulkarni    Male 2006-12-08  Basavakalyan
2            103   Sandeep Kulkarni    Male 2001-02-17        Bhalki
3            104       Jyoti Jadhav  Female 2000-10-19         Aurad
4            105          Neha Iyer  Female 2003-08-21         Bidar
...          ...                ...     ...        ...           ...
9995       10096       Manisha Bhat  Female 2005-01-12         Bidar
9996       10097     Rohan Kulkarni    Male 2006-10-28         Bidar
9997       10098       Swati Shetty  Female 2001-06-11        Bhalki
9998       10099        Swati Gupta  Female 2006-11-19         Aurad
9999       10100      Archana Reddy  Female 2005-03-06  Basavakalyan

          STATE  DEPT_ID  ADMISSION_YEAR CATEGORY HOSTEL_RESIDENT       PHONE  \
0     Karnataka        1            2023  General               F  9675770529
1     Karnataka        3            2022  General               T  9810026086
2     Karnataka        2            2023       ST               F  9274648506
3     Karnataka        3            2022      OBC               T  9596348124
4     Karnataka        2            2022  General               F  9530747414
...         ...      ...             ...      ...             ...         ...
9995  Karnataka        4            2023      OBC               F  9706087451
9996  Karnataka        3            2022  General               F  9506970784
9997  Karnataka        4            2023  General               T  9824795960
9998  Karnataka        4            2022       SC               F  9934653484
9999  Karnataka        3            2022  General               F  9285048891

                                 EMAIL
0         suresh.sharma@college.edu101
1     prashant.kulkarni@college.edu102
2      sandeep.kulkarni@college.edu103
3          jyoti.jadhav@college.edu104
4             neha.iyer@college.edu105
...                                ...
9995     manisha.bhat@college.edu10096
9996   rohan.kulkarni@college.edu10097
9997     swati.shetty@college.edu10098
9998      swati.gupta@college.edu10099
9999    archana.reddy@college.edu10100

[10000 rows x 12 columns]

C:\Users\vaibh\AppData\Local\Temp\ipykernel_26188\1385037635.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM students", conn)

In [9]:
df.head()

,STUDENT_ID,FULL_NAME,GENDER,DOB,CITY,STATE,DEPT_ID,ADMISSION_YEAR,CATEGORY,HOSTEL_RESIDENT,PHONE,EMAIL
0,101,Suresh Sharma,Male,2004-01-10,Basavakalyan,Karnataka,1,2023,General,F,9675770529,suresh.sharma@college.edu101
1,102,Prashant Kulkarni,Male,2006-12-08,Basavakalyan,Karnataka,3,2022,General,T,9810026086,prashant.kulkarni@college.edu102
2,103,Sandeep Kulkarni,Male,2001-02-17,Bhalki,Karnataka,2,2023,ST,F,9274648506,sandeep.kulkarni@college.edu103
3,104,Jyoti Jadhav,Female,2000-10-19,Aurad,Karnataka,3,2022,OBC,T,9596348124,jyoti.jadhav@college.edu104
4,105,Neha Iyer,Female,2003-08-21,Bidar,Karnataka,2,2022,General,F,9530747414,neha.iyer@college.edu105