In [6]:
import oracledb
import os

os.system("netsh advfirewall firewall add rule name=\"Oracle XE\" dir=in action=allow protocol=TCP localport=1521")

1

In [7]:
conn = oracledb.connect(
    user="c##student",
    password="student123",
    dsn="192.168.1.28/XE"
)

print("Connected:", conn.version)
conn.close()

Connected: 21.3.0.0.0

In [14]:
import pandas as pd

conn = oracledb.connect(
    user="c##student",
    password="student123",
    dsn="192.168.1.28/XE"
)


df = pd.read_sql("SELECT * FROM students", conn)
df_short = pd.read_sql("SELECT FULL_NAME, GENDER, DOB, ADMISSION_YEAR, EMAIL FROM students where ADMISSION_YEAR = 2023", conn)

conn.close()

C:\Users\vaibh\AppData\Local\Temp\ipykernel_11660\453477176.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM students", conn)
C:\Users\vaibh\AppData\Local\Temp\ipykernel_11660\453477176.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_short = pd.read_sql("SELECT FULL_NAME, GENDER, DOB, ADMISSION_YEAR, EMAIL FROM students where ADMISSION_YEAR = 2023", conn)

In [15]:
df_short

,FULL_NAME,GENDER,DOB,ADMISSION_YEAR,EMAIL
0,Suresh Sharma,Male,2004-01-10,2023,suresh.sharma@college.edu101
1,Sandeep Kulkarni,Male,2001-02-17,2023,sandeep.kulkarni@college.edu103
2,Vandana Rao,Female,2001-04-14,2023,vandana.rao@college.edu109
3,Ravi Kumar,Male,2005-10-06,2023,ravi.kumar@college.edu116
4,Vishal Joshi,Male,2002-12-04,2023,vishal.joshi@college.edu125
...,...,...,...,...,...
2482,Prakash Desai,Male,2003-11-08,2023,prakash.desai@college.edu10078
2483,Kavya Menon,Female,2004-08-20,2023,kavya.menon@college.edu10090
2484,Suresh Nair,Male,2000-11-07,2023,suresh.nair@college.edu10092
2485,Manisha Bhat,Female,2005-01-12,2023,manisha.bhat@college.edu10096
2486,Swati Shetty,Female,2001-06-11,2023,swati.shetty@college.edu10098