In [5]:
import pandas as pd
import random

names = ['Amit', 'Priya', 'Rahul', 'Sneha', 'Vikram', 'Neha', 'Rohit', 'Anjali', 'Karan', 'Pooja']
cities = ['Delhi', 'Mumbai', 'Bangalore', 'Chennai', 'Kolkata', 'Hyderabad', 'Pune', 'Ahmedabad', 'Jaipur', 'Lucknow']

def generate_phone_number(with_country_code):
    start_digit = str(random.choice([7, 8, 9]))
    number = start_digit + ''.join([str(random.randint(0, 9)) for _ in range(9)])
    if with_country_code:
        return '+91' + number
    else:
        return number

data = {
    'name': [random.choice(names) for _ in range(50)],
    'city': [random.choice(cities) for _ in range(50)],
    'phone_number': [
        generate_phone_number(with_country_code=random.choice([True, False]))
        for _ in range(50)
    ]
}

df = pd.DataFrame(data)

In [6]:
df

      name       city   phone_number
0    Priya      Delhi  +919051606543
1   Anjali  Ahmedabad     9706354091
2    Priya     Mumbai     7226116116
3    Priya    Lucknow     7037418790
4    Sneha    Chennai     9773266424
5     Amit    Kolkata  +917294872314
6     Amit    Kolkata     9296922792
7   Anjali    Kolkata     7972339028
8   Vikram    Kolkata     8134435007
9    Pooja  Bangalore  +918299025135
10  Anjali  Hyderabad  +917734666215
11   Rohit       Pune     8498399472
12   Priya    Lucknow  +918395109146
13   Sneha       Pune     7347267740
14  Vikram  Hyderabad     8276703290
15  Anjali  Hyderabad     7449320191
16   Rohit    Kolkata     7894401623
17   Sneha  Bangalore     8936000747
18    Neha       Pune     7850461274
19  Vikram  Bangalore  +919118018552
20  Vikram     Jaipur     8402404772
21    Neha     Mumbai  +918751764725
22    Amit    Chennai     8881651077
23  Anjali     Mumbai     9832639242
24   Rahul    Kolkata     8674806405
25   Priya     Jaipur     9625372530
26   Pooja  Hyderabad  +918745884764
27   Rohit    Chennai  +917533886850
28    Neha    Chennai     8673503813
29   Rohit    Lucknow     9247764635
30    Neha    Lucknow     9180820420
31  Vikram     Mumbai     9841695720
32  Vikram  Bangalore     8002670000
33  Vikram    Kolkata  +918683729951
34   Rohit     Jaipur  +917051597853
35   Sneha     Jaipur     8427924860
36    Amit  Ahmedabad     9703734386
37   Karan      Delhi     8886086765
38   Rohit       Pune     9751825620
39   Karan     Jaipur  +918627977308
40   Rahul  Ahmedabad  +917204822187
41   Rohit       Pune  +918401831650
42    Neha    Kolkata     7383202282
43  Vikram     Mumbai  +918937119378
44  Vikram  Ahmedabad  +918255587111
45  Vikram     Jaipur  +919985901790
46   Sneha  Ahmedabad  +918496822648
47   Pooja      Delhi  +918622738952
48    Amit       Pune  +917586991941
49   Karan      Delhi     9901711063

In [7]:
number_clean = lambda x: x.replace('+91', '') if x.startswith('+91') else x

In [9]:
df['cleaned_phone_number'] = df['phone_number'].apply(number_clean)

In [10]:
df

      name       city   phone_number cleaned_phone_number
0    Priya      Delhi  +919051606543           9051606543
1   Anjali  Ahmedabad     9706354091           9706354091
2    Priya     Mumbai     7226116116           7226116116
3    Priya    Lucknow     7037418790           7037418790
4    Sneha    Chennai     9773266424           9773266424
5     Amit    Kolkata  +917294872314           7294872314
6     Amit    Kolkata     9296922792           9296922792
7   Anjali    Kolkata     7972339028           7972339028
8   Vikram    Kolkata     8134435007           8134435007
9    Pooja  Bangalore  +918299025135           8299025135
10  Anjali  Hyderabad  +917734666215           7734666215
11   Rohit       Pune     8498399472           8498399472
12   Priya    Lucknow  +918395109146           8395109146
13   Sneha       Pune     7347267740           7347267740
14  Vikram  Hyderabad     8276703290           8276703290
15  Anjali  Hyderabad     7449320191           7449320191
16   Rohit    Kolkata     7894401623           7894401623
17   Sneha  Bangalore     8936000747           8936000747
18    Neha       Pune     7850461274           7850461274
19  Vikram  Bangalore  +919118018552           9118018552
20  Vikram     Jaipur     8402404772           8402404772
21    Neha     Mumbai  +918751764725           8751764725
22    Amit    Chennai     8881651077           8881651077
23  Anjali     Mumbai     9832639242           9832639242
24   Rahul    Kolkata     8674806405           8674806405
25   Priya     Jaipur     9625372530           9625372530
26   Pooja  Hyderabad  +918745884764           8745884764
27   Rohit    Chennai  +917533886850           7533886850
28    Neha    Chennai     8673503813           8673503813
29   Rohit    Lucknow     9247764635           9247764635
30    Neha    Lucknow     9180820420           9180820420
31  Vikram     Mumbai     9841695720           9841695720
32  Vikram  Bangalore     8002670000           8002670000
33  Vikram    Kolkata  +918683729951           8683729951
34   Rohit     Jaipur  +917051597853           7051597853
35   Sneha     Jaipur     8427924860           8427924860
36    Amit  Ahmedabad     9703734386           9703734386
37   Karan      Delhi     8886086765           8886086765
38   Rohit       Pune     9751825620           9751825620
39   Karan     Jaipur  +918627977308           8627977308
40   Rahul  Ahmedabad  +917204822187           7204822187
41   Rohit       Pune  +918401831650           8401831650
42    Neha    Kolkata     7383202282           7383202282
43  Vikram     Mumbai  +918937119378           8937119378
44  Vikram  Ahmedabad  +918255587111           8255587111
45  Vikram     Jaipur  +919985901790           9985901790
46   Sneha  Ahmedabad  +918496822648           8496822648
47   Pooja      Delhi  +918622738952           8622738952
48    Amit       Pune  +917586991941           7586991941
49   Karan      Delhi     9901711063           9901711063