In [12]:
import pandas as pd
import random
from datetime import datetime, timedelta

names = ['Amit', 'Priya', 'Rahul', 'Sneha', 'Vikram', 'Neha', 'Rohit', 'Anjali', 'Karan', 'Pooja']
cities = ['Delhi', 'Mumbai', 'Bangalore', 'Chennai', 'Kolkata', 'Hyderabad', 'Pune', 'Ahmedabad', 'Jaipur', 'Lucknow']

def generate_phone_number(with_country_code):
    start_digit = str(random.choice([7, 8, 9]))
    number = start_digit + ''.join([str(random.randint(0, 9)) for _ in range(9)])
    if with_country_code:
        return '+91' + number
    else:
        return number

def random_date(start_year=1980, end_year=2005):
    start_date = datetime(start_year, 1, 1)
    end_date = datetime(end_year, 12, 31)
    delta = end_date - start_date
    random_days = random.randint(0, delta.days)
    return (start_date + timedelta(days=random_days)).strftime('%Y-%m-%d')

data = {
    'name': [random.choice(names) for _ in range(50)],
    'city': [random.choice(cities) for _ in range(50)],
    'phone_number': [
        generate_phone_number(with_country_code=random.choice([True, False]))
        for _ in range(50)
    ],
    'date_of_birth': [random_date() for _ in range(50)]
}

df = pd.DataFrame(data)

In [13]:
df

      name       city   phone_number date_of_birth
0    Karan  Bangalore     7934549500    1984-03-09
1    Sneha       Pune     8058043416    1995-05-11
2     Neha  Ahmedabad  +918231180519    1986-08-22
3    Priya  Bangalore     9329729007    1981-02-14
4    Karan    Kolkata     9171515925    1983-08-17
5    Rahul      Delhi  +917918054331    1991-12-25
6   Vikram     Mumbai     7802032853    1982-08-08
7    Karan    Kolkata  +917000433337    1983-12-01
8    Sneha  Hyderabad  +917507086808    1990-01-07
9    Rohit  Bangalore  +919461985119    2005-04-05
10   Rahul       Pune     9151745113    1988-10-13
11   Rahul     Jaipur     7717460914    1982-04-15
12    Neha       Pune     7255662083    1991-04-25
13   Rohit     Mumbai  +917863133117    1993-08-07
14  Anjali      Delhi     9928461488    1990-09-27
15   Sneha     Jaipur  +919710655306    1983-11-15
16   Rahul       Pune     7684082208    1984-08-18
17   Karan    Kolkata     7268888444    1997-05-14
18   Sneha  Bangalore  +917819563753    1997-05-26
19  Anjali     Jaipur     8840676441    1990-12-02
20    Neha  Ahmedabad     8099293698    1993-11-15
21    Amit  Hyderabad     8373546505    2000-02-21
22   Pooja     Jaipur  +918625978242    2003-10-24
23    Neha       Pune     8281264287    1986-08-18
24    Neha  Ahmedabad  +918508133244    1998-04-01
25  Vikram  Ahmedabad  +918841096678    1985-10-14
26   Rahul    Chennai     7329181065    1981-10-31
27  Vikram     Mumbai     9203952002    1992-02-11
28  Anjali  Bangalore     7466173842    1984-10-18
29   Sneha      Delhi     9079155393    1981-05-24
30   Rohit    Lucknow     7769687651    1985-09-24
31   Pooja      Delhi  +919362679756    2005-09-08
32   Priya      Delhi  +917369565249    1990-05-19
33   Sneha    Chennai  +917887093739    2004-12-02
34    Amit  Bangalore     9198213964    2003-09-15
35   Sneha  Hyderabad  +919792671740    1994-11-05
36  Anjali      Delhi     7539085207    1994-03-18
37  Anjali  Ahmedabad     9695985432    2002-11-12
38    Neha    Lucknow     7740794019    1980-08-03
39   Rahul  Bangalore  +917122591512    1990-10-02
40   Rohit  Hyderabad  +918208315747    1999-12-01
41   Karan       Pune  +917290222577    1992-10-04
42    Neha     Jaipur  +917881832848    1998-09-15
43    Amit  Hyderabad  +919265244503    1981-02-23
44  Anjali     Jaipur     7927613408    1980-11-03
45   Rohit     Jaipur     7745512661    1998-04-08
46   Priya     Jaipur     8164352765    2001-06-30
47    Neha  Ahmedabad  +917617157537    2001-09-28
48   Rohit  Hyderabad     8896770933    1982-04-10
49  Vikram     Mumbai  +919032874115    1991-09-07

In [7]:
number_clean = lambda x: x.replace('+91', '') if x.startswith('+91') else x

In [9]:
df['cleaned_phone_number'] = df['phone_number'].apply(number_clean)

In [10]:
df

      name       city   phone_number cleaned_phone_number
0    Priya      Delhi  +919051606543           9051606543
1   Anjali  Ahmedabad     9706354091           9706354091
2    Priya     Mumbai     7226116116           7226116116
3    Priya    Lucknow     7037418790           7037418790
4    Sneha    Chennai     9773266424           9773266424
5     Amit    Kolkata  +917294872314           7294872314
6     Amit    Kolkata     9296922792           9296922792
7   Anjali    Kolkata     7972339028           7972339028
8   Vikram    Kolkata     8134435007           8134435007
9    Pooja  Bangalore  +918299025135           8299025135
10  Anjali  Hyderabad  +917734666215           7734666215
11   Rohit       Pune     8498399472           8498399472
12   Priya    Lucknow  +918395109146           8395109146
13   Sneha       Pune     7347267740           7347267740
14  Vikram  Hyderabad     8276703290           8276703290
15  Anjali  Hyderabad     7449320191           7449320191
16   Rohit    Kolkata     7894401623           7894401623
17   Sneha  Bangalore     8936000747           8936000747
18    Neha       Pune     7850461274           7850461274
19  Vikram  Bangalore  +919118018552           9118018552
20  Vikram     Jaipur     8402404772           8402404772
21    Neha     Mumbai  +918751764725           8751764725
22    Amit    Chennai     8881651077           8881651077
23  Anjali     Mumbai     9832639242           9832639242
24   Rahul    Kolkata     8674806405           8674806405
25   Priya     Jaipur     9625372530           9625372530
26   Pooja  Hyderabad  +918745884764           8745884764
27   Rohit    Chennai  +917533886850           7533886850
28    Neha    Chennai     8673503813           8673503813
29   Rohit    Lucknow     9247764635           9247764635
30    Neha    Lucknow     9180820420           9180820420
31  Vikram     Mumbai     9841695720           9841695720
32  Vikram  Bangalore     8002670000           8002670000
33  Vikram    Kolkata  +918683729951           8683729951
34   Rohit     Jaipur  +917051597853           7051597853
35   Sneha     Jaipur     8427924860           8427924860
36    Amit  Ahmedabad     9703734386           9703734386
37   Karan      Delhi     8886086765           8886086765
38   Rohit       Pune     9751825620           9751825620
39   Karan     Jaipur  +918627977308           8627977308
40   Rahul  Ahmedabad  +917204822187           7204822187
41   Rohit       Pune  +918401831650           8401831650
42    Neha    Kolkata     7383202282           7383202282
43  Vikram     Mumbai  +918937119378           8937119378
44  Vikram  Ahmedabad  +918255587111           8255587111
45  Vikram     Jaipur  +919985901790           9985901790
46   Sneha  Ahmedabad  +918496822648           8496822648
47   Pooja      Delhi  +918622738952           8622738952
48    Amit       Pune  +917586991941           7586991941
49   Karan      Delhi     9901711063           9901711063

In [14]:
def get_weekday(date_str):
    """
    Takes a date string in 'YYYY-MM-DD' format and returns the day of the week.
    """
    return datetime.strptime(date_str, '%Y-%m-%d').strftime('%A')

In [15]:
df['week_day_of_birth'] = df['date_of_birth'].apply(get_weekday)

In [16]:
df

      name       city   phone_number date_of_birth week_day_of_birth
0    Karan  Bangalore     7934549500    1984-03-09            Friday
1    Sneha       Pune     8058043416    1995-05-11          Thursday
2     Neha  Ahmedabad  +918231180519    1986-08-22            Friday
3    Priya  Bangalore     9329729007    1981-02-14          Saturday
4    Karan    Kolkata     9171515925    1983-08-17         Wednesday
5    Rahul      Delhi  +917918054331    1991-12-25         Wednesday
6   Vikram     Mumbai     7802032853    1982-08-08            Sunday
7    Karan    Kolkata  +917000433337    1983-12-01          Thursday
8    Sneha  Hyderabad  +917507086808    1990-01-07            Sunday
9    Rohit  Bangalore  +919461985119    2005-04-05           Tuesday
10   Rahul       Pune     9151745113    1988-10-13          Thursday
11   Rahul     Jaipur     7717460914    1982-04-15          Thursday
12    Neha       Pune     7255662083    1991-04-25          Thursday
13   Rohit     Mumbai  +917863133117    1993-08-07          Saturday
14  Anjali      Delhi     9928461488    1990-09-27          Thursday
15   Sneha     Jaipur  +919710655306    1983-11-15           Tuesday
16   Rahul       Pune     7684082208    1984-08-18          Saturday
17   Karan    Kolkata     7268888444    1997-05-14         Wednesday
18   Sneha  Bangalore  +917819563753    1997-05-26            Monday
19  Anjali     Jaipur     8840676441    1990-12-02            Sunday
20    Neha  Ahmedabad     8099293698    1993-11-15            Monday
21    Amit  Hyderabad     8373546505    2000-02-21            Monday
22   Pooja     Jaipur  +918625978242    2003-10-24            Friday
23    Neha       Pune     8281264287    1986-08-18            Monday
24    Neha  Ahmedabad  +918508133244    1998-04-01         Wednesday
25  Vikram  Ahmedabad  +918841096678    1985-10-14            Monday
26   Rahul    Chennai     7329181065    1981-10-31          Saturday
27  Vikram     Mumbai     9203952002    1992-02-11           Tuesday
28  Anjali  Bangalore     7466173842    1984-10-18          Thursday
29   Sneha      Delhi     9079155393    1981-05-24            Sunday
30   Rohit    Lucknow     7769687651    1985-09-24           Tuesday
31   Pooja      Delhi  +919362679756    2005-09-08          Thursday
32   Priya      Delhi  +917369565249    1990-05-19          Saturday
33   Sneha    Chennai  +917887093739    2004-12-02          Thursday
34    Amit  Bangalore     9198213964    2003-09-15            Monday
35   Sneha  Hyderabad  +919792671740    1994-11-05          Saturday
36  Anjali      Delhi     7539085207    1994-03-18            Friday
37  Anjali  Ahmedabad     9695985432    2002-11-12           Tuesday
38    Neha    Lucknow     7740794019    1980-08-03            Sunday
39   Rahul  Bangalore  +917122591512    1990-10-02           Tuesday
40   Rohit  Hyderabad  +918208315747    1999-12-01         Wednesday
41   Karan       Pune  +917290222577    1992-10-04            Sunday
42    Neha     Jaipur  +917881832848    1998-09-15           Tuesday
43    Amit  Hyderabad  +919265244503    1981-02-23            Monday
44  Anjali     Jaipur     7927613408    1980-11-03            Monday
45   Rohit     Jaipur     7745512661    1998-04-08         Wednesday
46   Priya     Jaipur     8164352765    2001-06-30          Saturday
47    Neha  Ahmedabad  +917617157537    2001-09-28            Friday
48   Rohit  Hyderabad     8896770933    1982-04-10          Saturday
49  Vikram     Mumbai  +919032874115    1991-09-07          Saturday

In [17]:
df[df['week_day_of_birth'] == 'Wednesday']

     name       city   phone_number date_of_birth week_day_of_birth
4   Karan    Kolkata     9171515925    1983-08-17         Wednesday
5   Rahul      Delhi  +917918054331    1991-12-25         Wednesday
17  Karan    Kolkata     7268888444    1997-05-14         Wednesday
24   Neha  Ahmedabad  +918508133244    1998-04-01         Wednesday
40  Rohit  Hyderabad  +918208315747    1999-12-01         Wednesday
45  Rohit     Jaipur     7745512661    1998-04-08         Wednesday