# Indian College Data Cleaning Assignment - SOLUTIONS

**FOR INSTRUCTOR USE ONLY**

This notebook contains the solutions to all 10 questions in the data cleaning assignment.

---

## Load the Dataset

In [2]:
import pandas as pd
import numpy as np

# Load the messy dataset
df = pd.read_csv('../Datasets/indian_college_messy_data.csv')

print(f"Dataset shape: {df.shape}")
print("\nFirst 10 rows:")
display(df.head(10))

Dataset shape: (510, 16)

First 10 rows:

,student_id,name,email,phone,age,gender,course,department,semester,cgpa,attendance,city,state,admission_date,fees_paid,hostel
0,STU20238485,Yug Sanghvi,urvichauhan@example.net,+91-8923923126,17,Male,BCA,Information Technology,7,9.92,42.4,Panipat,TS,2022-07-01,1,Yes
1,STU20206913,PATRICK PRASAD,krishhora@example.com,(+918179323023),25,Non-Binary,M.E,Chemical,6,13.97,43.5,Alappuzha,Kerala,2024-08-11,N,Yes
2,STU20237737,teerth mody,shethvinaya@example.org,(00975451052),21,Female,MCA,Chemical,5,5.76,51.3%,Raichur,Tamil Nadu,2020-12-08,Yes,YES
3,STU20212477,TRIYA BIR,kiberaksha@example.org,NaN,19,Man,M.E,Electronics,6,7.10,87.1,Gulbarga,Rajasthan,2021-07-10,0,NO
4,STU20221620,Chasmum Rana,NaN,+91-+914287572158,18,Man,B.Tech,Electronics,5,NaN,74.5,Ajmer,Delhi,2023-01-29,N,n
5,STU20229728,Hardik Suri,cmammen@example.net,(03773515850),23,O,B.E,Computer Science,6,5.06,65.2,Bally,RJ,2022-06-23,1,NO
6,STU20243967,WILLIAM CHANA,srinivasandalaja@example.org,7990772625,21,M,M.E,Electronics,5,8.63,73.5,Mumbai,Tamil Nadu,2021-06-18,0,YES
7,STU20204073,ANJALI SENGUPTA,RAJESHRICHAND@EXAMPLE.ORG,05060685361,25,female,BCA,Chemical,8,8.13,85.6,Rajahmundry,DL,06/02/2021,0,Yes
8,STU20244726,DHRITI CHANA,bosewriddhish@example.org,+919014870682,23,M,BCA,Electronics,7,NaN,94.6,Mehsana,West Bengal,2025-03-30,False,Yes
9,STU20244389,Hardik Bera,TARAAVI@EXAMPLE.ORG,(09524991187),27,Non-Binary,M.E,Mechanical,6,9.13,NaN,Panihati,RJ,12/05/2023,no,N

In [5]:
df["age"].unique()

array([ 17,  25,  21,  19,  18,  23,  27,  20,  28, -26, -18,  26,  22,
        70,  24,  73, -22, -19,  78,  74, -23, -20, -28,  72,  68,  69,
       -17,  77, -27, -25, -24, -21,  75])

---
# SOLUTIONS
---

## Question 1 Solution: Clean Student Names

In [3]:
# Solution
df['name'] = df['name'].apply(lambda x: x.title())

# Alternative solution using str accessor
# df['name'] = df['name'].str.title()

print("Sample cleaned names:")
print(df['name'].head(10))

Sample cleaned names:
0        Yug Sanghvi
1     Patrick Prasad
2        Teerth Mody
3          Triya Bir
4       Chasmum Rana
5        Hardik Suri
6      William Chana
7    Anjali Sengupta
8       Dhriti Chana
9        Hardik Bera
Name: name, dtype: object

## Question 2 Solution: Clean and Standardize Email Addresses

In [ ]:
# Solution
df['email'] = df['email'].apply(lambda x: x.lower().strip() if pd.notna(x) else x)

# Alternative solution
# df['email'] = df['email'].apply(lambda x: x.lower().strip() if isinstance(x, str) else x)

print("Sample cleaned emails:")
print(df['email'].head(10))

## Question 3 Solution: Extract Clean Phone Numbers

In [4]:
# Solution 1: Using string replacement
def clean_phone(phone):
    if pd.isna(phone):
        return phone
    # Convert to string and remove all non-digit characters
    phone_str = str(phone)
    digits = ''.join(filter(str.isdigit, phone_str))
    # Take last 10 digits (removes country code if present)
    return digits[-10:] if len(digits) >= 10 else digits

df['phone'] = df['phone'].apply(clean_phone)

# Alternative solution using replace
# df['phone'] = df['phone'].apply(lambda x: ''.join(filter(str.isdigit, str(x)))[-10:] if pd.notna(x) else x)

print("Sample cleaned phone numbers:")
print(df['phone'].head(10))
print(f"\nAll phone numbers have 10 digits: {df['phone'].dropna().apply(lambda x: len(str(x)) == 10).all()}")

Sample cleaned phone numbers:
0    8923923126
1    8179323023
2    0975451052
3           NaN
4    4287572158
5    3773515850
6    7990772625
7    5060685361
8    9014870682
9    9524991187
Name: phone, dtype: object

All phone numbers have 10 digits: True

## Question 4 Solution: Fix Age Column

In [ ]:
# Solution
def clean_age(age):
    # Convert to integer
    age = int(float(age))
    # Take absolute value if negative
    age = abs(age)
    # If age > 40, it was increased by 50, so subtract 50
    if age > 40:
        age = age - 50
    return age

df['age'] = df['age'].apply(clean_age)

# Alternative solution (one-liner)
# df['age'] = df['age'].apply(lambda x: abs(int(float(x))) - 50 if abs(int(float(x))) > 40 else abs(int(float(x))))

print("Age statistics after cleaning:")
print(df['age'].describe())
print(f"\nAll ages are integers: {df['age'].dtype in ['int64', 'int32']}")
print(f"Age range: {df['age'].min()} to {df['age'].max()}")

## Question 5 Solution: Standardize Gender Values

In [6]:
df["gender"].unique()

array(['Male', 'Non-Binary', 'Female', 'Man', 'O', 'M', 'female', 'male',
       'other', 'F', 'Other', 'MALE', 'Woman', 'FEMALE'], dtype=object)

In [ ]:
# Solution
def standardize_gender(gender):
    gender_upper = str(gender).upper()
    if gender_upper in ['MALE', 'M', 'MAN']:
        return 'Male'
    elif gender_upper in ['FEMALE', 'F', 'WOMAN']:
        return 'Female'
    else:
        return 'Other'

df['gender'] = df['gender'].apply(standardize_gender)

# Alternative solution using dictionary
# gender_map = {'MALE': 'Male', 'M': 'Male', 'MAN': 'Male',
#               'FEMALE': 'Female', 'F': 'Female', 'WOMAN': 'Female',
#               'OTHER': 'Other', 'O': 'Other', 'NON-BINARY': 'Other'}
# df['gender'] = df['gender'].apply(lambda x: gender_map.get(str(x).upper(), 'Other'))

print("Gender value counts after standardization:")
print(df['gender'].value_counts())

## Question 6 Solution: Clean CGPA Values

In [7]:
df["cgpa"].unique()

array([ 9.92, 13.97,  5.76,  7.1 ,   nan,  5.06,  8.63,  8.13,  9.13,
       -6.83,  6.58, 10.65,  7.27,  8.74,  8.89,  6.3 ,  9.89,  7.2 ,
        8.91,  7.98,  9.12,  5.47,  9.7 , -8.83,  7.62,  7.73,  9.65,
        9.96, -8.31,  9.16,  5.57, 14.85, 13.3 ,  7.17,  6.95,  9.15,
        9.84,  8.97,  9.21,  9.  ,  8.54,  6.39,  9.91,  5.52,  6.93,
        7.4 ,  7.06,  9.57,  5.81,  7.67,  8.2 ,  6.24,  6.75,  5.95,
        8.93,  7.85,  6.46,  8.68,  8.25,  7.54,  7.91,  7.9 ,  6.86,
        7.49,  7.88,  5.92,  8.37,  8.08,  7.43,  7.89,  7.32,  5.74,
        7.07,  7.66,  9.63,  7.52,  9.71,  5.21,  5.55,  7.84,  7.13,
        5.27, -7.2 ,  7.82, -9.04,  6.45,  8.76,  7.42,  5.79,  6.59,
        5.53, -6.55, 13.48,  8.23,  8.01,  8.98,  9.32,  5.16,  5.32,
        9.37, -9.87,  9.51,  5.7 , 11.79, 13.08,  7.09,  8.07,  9.07,
        6.7 ,  9.62,  6.16,  6.42,  8.06,  7.29,  5.12, 14.46, 12.85,
        7.25,  6.82,  7.37,  8.41,  9.99, 12.51,  6.36,  6.22,  7.48,
        6.21,  6.62,  5.77,  9.02,  6.71,  8.43,  9.26,  7.23,  5.83,
        5.85,  6.78,  6.51,  6.68,  8.95,  9.53,  8.81,  8.65,  6.83,
       11.97,  6.53,  8.  ,  7.65,  5.8 ,  5.22,  6.  ,  5.66,  6.06,
       -6.21,  8.33,  8.6 ,  9.39,  6.15, -8.37,  8.05,  8.27,  6.49,
        9.43,  7.83,  8.73,  8.69,  5.08,  5.64,  8.34,  8.88,  8.83,
       -9.06,  7.21, -9.33,  8.87,  8.36,  7.78,  5.5 ,  8.18, 11.21,
        7.64,  8.31,  7.93, -5.44, 11.33,  5.6 ,  5.13,  8.38,  8.79,
        6.98,  7.6 , -9.18,  5.3 , -7.78,  8.45,  7.76,  8.42,  7.77,
        5.82,  9.75,  9.24,  5.88,  8.84,  5.11,  5.87,  7.28,  8.39,
        7.12,  6.84,  5.51,  6.12,  6.76,  6.43,  9.58,  9.9 ,  8.47,
        6.33,  5.58, 13.35,  5.96,  6.65,  8.7 ,  6.19,  6.79,  6.01,
       12.59, 13.68,  9.79,  5.18,  7.34,  5.43,  6.89,  9.17,  9.74,
        5.03,  7.46,  9.52,  7.19, -9.45,  9.81,  9.97,  6.67,  9.18,
        9.87,  9.48,  8.09, 12.15,  6.38,  7.97,  8.85,  8.03, 12.25,
       13.42, 10.76,  6.31,  9.61,  7.44,  8.02,  6.96,  7.24,  5.69,
       12.28, -7.27,  6.29,  7.81,  6.07,  9.45, -8.96,  7.94,  9.25,
        6.26, 12.38,  6.14,  8.48,  9.6 ,  9.93,  6.02,  9.86,  5.56,
        8.62,  5.46,  9.49,  7.45,  9.31,  7.39,  8.19,  9.64, 13.85,
        9.06,  7.11,  6.9 ,  9.08,  8.66, -5.23,  9.09,  5.23,  7.86,
        7.41,  7.5 ,  8.58,  6.48,  5.42,  9.19,  6.54,  6.25,  7.68,
        8.59,  8.35,  9.01,  9.29,  6.28, -6.56,  9.28, -5.94,  7.63,
        8.29,  5.39,  6.72,  8.99,  7.18,  6.6 ,  9.41,  5.01,  6.63,
        5.78,  7.79,  6.88, -9.68,  5.19,  9.76, 10.  ,  6.99,  8.78,
        7.22,  7.08,  8.51,  5.73,  5.36,  9.94])

In [ ]:
# Solution
def clean_cgpa(cgpa):
    if pd.isna(cgpa):
        return cgpa
    # Convert to float
    cgpa = float(cgpa)
    # Take absolute value
    cgpa = abs(cgpa)
    # If > 10, subtract 5
    if cgpa > 10:
        cgpa = cgpa - 5
    # Round to 2 decimal places
    return round(cgpa, 2)

df['cgpa'] = df['cgpa'].apply(clean_cgpa)

# Alternative solution (one-liner)
# df['cgpa'] = df['cgpa'].apply(lambda x: round(abs(float(x)) - 5, 2) if pd.notna(x) and abs(float(x)) > 10 else (round(abs(float(x)), 2) if pd.notna(x) else x))

print("CGPA statistics after cleaning:")
print(df['cgpa'].describe())
print(f"\nCGPA data type: {df['cgpa'].dtype}")
print(f"Valid CGPA range (5.0 to 10.0): {df['cgpa'].dropna().min()} to {df['cgpa'].dropna().max()}")

## Question 7 Solution: Clean Attendance Percentage

In [ ]:
# Solution
def clean_attendance(att):
    if pd.isna(att):
        return att
    # Convert to string and remove % if present
    att_str = str(att).replace('%', '').strip()
    # Convert to float
    att_value = float(att_str)
    # Cap at 100
    if att_value > 100:
        att_value = 100.0
    # Round to 1 decimal
    return round(att_value, 1)

df['attendance'] = df['attendance'].apply(clean_attendance)

# Alternative solution
# df['attendance'] = df['attendance'].apply(lambda x: min(round(float(str(x).replace('%', '').strip()), 1), 100.0) if pd.notna(x) else x)

print("Attendance statistics after cleaning:")
print(df['attendance'].describe())
print(f"\nMax attendance: {df['attendance'].max()}%")

## Question 8 Solution: Expand State Abbreviations

In [ ]:
# State mapping dictionary
state_map = {
    'MH': 'Maharashtra', 'KA': 'Karnataka', 'TN': 'Tamil Nadu',
    'DL': 'Delhi', 'GJ': 'Gujarat', 'WB': 'West Bengal',
    'TS': 'Telangana', 'RJ': 'Rajasthan', 'UP': 'Uttar Pradesh',
    'KL': 'Kerala'
}

# Solution
df['state'] = df['state'].apply(lambda x: state_map.get(x, x))

# Alternative solution using replace
# df['state'] = df['state'].replace(state_map)

print("State value counts after expansion:")
print(df['state'].value_counts())
print(f"\nNo abbreviations remaining: {not any(df['state'].str.len() == 2)}")

## Question 9 Solution: Standardize Boolean Columns

In [ ]:
# Solution
def to_boolean(value):
    # Convert to string and uppercase
    val_str = str(value).upper().strip()
    # Check for true values
    if val_str in ['YES', 'Y', 'TRUE', '1', 'T']:
        return True
    else:
        return False

df['fees_paid'] = df['fees_paid'].apply(to_boolean)
df['hostel'] = df['hostel'].apply(to_boolean)

# Alternative solution (one-liner)
# df['fees_paid'] = df['fees_paid'].apply(lambda x: str(x).upper().strip() in ['YES', 'Y', 'TRUE', '1', 'T'])
# df['hostel'] = df['hostel'].apply(lambda x: str(x).upper().strip() in ['YES', 'Y', 'TRUE', '1', 'T'])

print("Fees Paid value counts:")
print(df['fees_paid'].value_counts())
print("\nHostel value counts:")
print(df['hostel'].value_counts())
print(f"\nFees_paid is boolean: {df['fees_paid'].dtype == 'bool'}")
print(f"Hostel is boolean: {df['hostel'].dtype == 'bool'}")

## Question 10 Solution: Create Grade Category from CGPA

In [ ]:
# Solution
def get_grade_category(cgpa):
    if pd.isna(cgpa):
        return 'Not Available'
    elif cgpa >= 9.0:
        return 'Excellent'
    elif cgpa >= 8.0:
        return 'Very Good'
    elif cgpa >= 7.0:
        return 'Good'
    elif cgpa >= 6.0:
        return 'Average'
    else:
        return 'Below Average'

df['grade_category'] = df['cgpa'].apply(get_grade_category)

# Alternative solution using nested ternary operators
# df['grade_category'] = df['cgpa'].apply(lambda x: 'Not Available' if pd.isna(x) else 
#                                          'Excellent' if x >= 9.0 else 
#                                          'Very Good' if x >= 8.0 else 
#                                          'Good' if x >= 7.0 else 
#                                          'Average' if x >= 6.0 else 
#                                          'Below Average')

print("Grade Category distribution:")
print(df['grade_category'].value_counts())
print("\nSample data with CGPA and Grade Category:")
display(df[['name', 'cgpa', 'grade_category']].head(20))

## Bonus Solution: Remove Duplicates

In [ ]:
# Check for duplicates
print(f"Total records before removing duplicates: {len(df)}")
print(f"Duplicate records: {df.duplicated().sum()}")

# Remove duplicates
df = df.drop_duplicates()

# Alternative: Keep first occurrence
# df = df.drop_duplicates(keep='first')

# Reset index after dropping duplicates
df = df.reset_index(drop=True)

print(f"\nTotal records after removing duplicates: {len(df)}")

## Save Cleaned Dataset

In [ ]:
# Save cleaned dataset
df.to_csv('../Datasets/indian_college_cleaned_data.csv', index=False)

print("Cleaned dataset saved successfully!")
print(f"\nFinal dataset shape: {df.shape}")
print("\nData types after cleaning:")
print(df.dtypes)
print("\nMissing values after cleaning:")
print(df.isnull().sum())
print("\nFirst 10 rows of cleaned data:")
display(df.head(10))

## Summary Statistics

In [ ]:
print("=" * 80)
print("SUMMARY STATISTICS - CLEANED DATASET")
print("=" * 80)

print("\n1. Numerical Columns:")
display(df[['age', 'semester', 'cgpa', 'attendance']].describe())

print("\n2. Gender Distribution:")
print(df['gender'].value_counts())

print("\n3. Course Distribution:")
print(df['course'].value_counts())

print("\n4. Department Distribution:")
print(df['department'].value_counts())

print("\n5. State Distribution:")
print(df['state'].value_counts())

print("\n6. Fees Payment Status:")
print(df['fees_paid'].value_counts())

print("\n7. Hostel Status:")
print(df['hostel'].value_counts())

print("\n8. Grade Categories:")
print(df['grade_category'].value_counts())

---
## Additional Teaching Points

### Key Concepts Covered:

1. **Lambda Functions**: Anonymous functions used with apply()
2. **Conditional Logic**: Using if-else inside apply()
3. **String Methods**: .upper(), .lower(), .strip(), .title(), .replace()
4. **Type Conversion**: int(), float(), str()
5. **Null Handling**: pd.isna(), pd.notna()
6. **Dictionary Mapping**: Using .get() for safe lookups
7. **Data Validation**: Checking ranges and constraints
8. **Boolean Conversion**: Standardizing Yes/No values

### Common Student Mistakes to Watch For:

1. Not handling NaN values before processing
2. Forgetting to convert types before operations
3. Not stripping whitespace from strings
4. Missing edge cases (negative values, out of range)
5. Not validating results after cleaning

### Extension Activities:

1. Add more complex validation rules
2. Create custom validation functions
3. Generate data quality reports
4. Implement error logging during cleaning
5. Create before/after comparison visualizations